DATABASE_URL=postgresql://usuario:password@localhost:5432/techserv_pro
JWT_SECRET=tu_clave_secreta_muy_larga_aqui_cambiar_en_produccion
JWT_EXPIRES_IN=8h
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
NOMBRE_NEGOCIO=TechServ Pro
TELEFONO_ADMIN=57XXXXXXXXXX
WOMPI_PUBLIC_KEY=
WOMPI_PRIVATE_KEY=
DEEPSEEK_API_KEY=sk-tu_api_key_de_deepseek_aqui
PORT=3000
NODE_ENV=development
